﻿@using Controllers.ViewModel.Team_
@model ManagerTeamViewModel
@{
    Layout = "LayoutManagerTeam";
    ViewData["Title"] = "Управление командой";
    //var TeamCases = caseService.GetTeamCases(User.Identity.Name);
    //foreach (var itr in TeamCases)
    //{
    //    itr.IdUserNavigation = context.ClientToDo.Find(itr.IdUser);
    //}
    //////////////////////////////////////////
    //var user = userService.GetUser(User.Identity.Name);
    //var team = teamService.GetTeam(User.Identity.Name);
    //List<Chat> ListChatMessage = new List<Chat>();
    //if (team != null)
    //{
    //    ListChatMessage = chatService.GetChatMessages(team.Id);
    //    foreach (var itr in ListChatMessage)
    //    {
    //        itr.IdUserNavigation = userService.GetUser(itr.IdUser);
    //    }
    //}
}
    
<div class="mainWindow">
    <div id="board">
        @foreach (var itr in @ViewBag.TeamCases)
        {
        <div class="case" id="case @itr.Id">
            <div class="faq_item">
                <div class="faq_item_title">
                    <div class="faq_item_title_inner">
                        <div class="cardTitle">
                            <h5 class="title">@itr.Title</h5>
                            <div class="cardStatus" id="cardStatus @itr.Id"></div>
                        </div>
                    </div>
                </div>
                <div class="faq_item_body">
                    <div class="cardDate">@itr.Start</div>
                    <div class="cardDate">@itr.End</div>
                    <div class="cardDesctiption"> <h6>@itr.Description</h6> </div>
                    <div class="containerImgCard" id="caseImg @itr.Id">
                        @if (@itr.IsComplete == "В_процессе")
                        {
                            <img class="imgCard" src="~/images/process.png" id="imgCard @itr.Id" alt="process">
                        }
                        @if (@itr.IsComplete == "Сделано")
                        {
                            <img class="imgCard" src="~/images/complete.jpg" id="imgCard @itr.Id" alt="complete">
                        }
                        @if (@itr.IsComplete == "Провалено")
                        {
                            <img class="imgCard" src="~/images/no_complete.png" id="imgCard @itr.Id" alt="no_complete">
                        }
                        @if (@itr.IsComplete == "Подтверждено")
                        {
                            <img class="imgCard" src="~/images/confirmed.png" id="imgCard @itr.Id" alt="confirmed">
                        }
                    </div>
                    <div class="caseResponsible">
                        Ответственный - @itr.IdUserNavigation.Name <br />
                        Почта - @itr.IdUserNavigation.Email
                    </div>
                    <div class="caseButton">
                        @if (@itr.IsComplete == "Подтверждено")
                        {
                            <div><a asp-action="CommentCase" asp-controller="Comment" asp-route-id="@itr.Id">Комментировать</a></div>
                        }
                        else
                        {
                            <div><a asp-action="CommentCase" asp-controller="Comment" asp-route-id="@itr.Id">Комментировать</a></div>
                            <div id="buttonStatusCase">
                                <div id="divConfirmed">
                                    @if (@itr.IsComplete == "Сделано")
                                    {
                                        <div class="confirmed button @itr.Id" id="@itr.Id">Подтвердить</div>
                                    }
                                </div>
                                <div id="divFailed">
                                    <div class="failed button @itr.Id" id="@itr.Id">Провалено</div>
                                </div>
                                <div class="cancel button @itr.Id" id="@itr.Id">Отменить</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    @if (@ViewBag.team != null)
    {
        <div id="chat" class="right" hidden>
            <div id="comments">
                @foreach (var itr in @ViewBag.ListChatMessage)
                {
                    <div class="chatMessage">
                        <div class="userName">@itr.IdUserNavigation.Name</div>
                        <div class="textMessage">@itr.Text</div>
                    </div>
                }
            </div>
            <div class="container">
                <div class="textMessage">
                    <textarea type="text" id="messageInput" placeholder="Введите сообщение"></textarea>
                </div>
                <div class="sendButton">
                    <img src="~/images/sendMessage.jpg" id="sendButton" alt="id=" sendMessage" />
                </div>
            </div>
        </div>
    }
    <div><img src="~/images/chat.jpg" alt="Chat opening" id="chatOpening" /></div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/case.js"></script>
<script src="~/js/dropDownList.js"></script>

