﻿@using Controllers.ViewModel
@model LoginModel

@{
    ViewData["Title"] = "Вход";
    Layout = "LayoutAccount";
}
<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <div><label asp-for="Login">Введите Email</label></div>
            <div><input type="text" asp-for="Login" /></div>
            <div><span asp-validation-for="Login"></span></div>
        </div>
        <div class="form-group">
            <div><label asp-for="Password">Введите пароль</label></div>
            <div><input type="password" asp-for="Password" /></div>
            <div><span asp-validation-for="Password"></span></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>