﻿@using Controllers.ViewModel
@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
    Layout = "LayoutAccount";
}
<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="form-group">
            <div><label asp-for="Email">Введите Email</label></div>
            <div><input type="text" asp-for="Email" /></div>
            <div><span asp-validation-for="Email"></span></div>
        </div>
        <div class="form-group">
            <div><label asp-for="Password">Введите пароль</label></div>
            <div><input type="password" asp-for="Password" /></div>
            <div><span asp-validation-for="Password"></span></div>
        </div>
        <div class="form-group">
            <div><label asp-for="ConfirmPassword">Повторите пароль</label></div>
            <div><input type="password" asp-for="ConfirmPassword" /></div>
            <div><span asp-validation-for="ConfirmPassword"></span></div>
        </div>
        <div class="form-group">
            <div><label asp-for="Company">Введите название компании в которой работаете</label></div>
            <div><input asp-for="Company" /></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>