﻿@using Controllers.ViewModel
@model CommentViewModel

@{
    Layout = "LayoutComment";
    ViewData["Title"] = "Обсуждение";
}


<div class="card case">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.currentCase.Title</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@ViewBag.currentCase.Start</li>
        <li class="list-group-item">@ViewBag.currentCase.End</li>
        <li class="list-group-item" id="card_desctiption">@ViewBag.currentCase.Description</li>
        <li class="list-group-item">
            @if (@ViewBag.currentCase.IsComplete == "В_процессе" @*ToDo2.Models.StatusCase.В_процессе.ToString()*@)
            {
                <img src="~/images/process.png" alt="process">
            }
            @if (@ViewBag.currentCase.IsComplete == "Сделано")
            {
                <img src="~/images/complete.jpg" alt="complete">
            }
            @if (@ViewBag.currentCase.IsComplete == "Провалено")
            {
                <img src="~/images/no_complete.png" alt="no_complete">
            }
            @if (@ViewBag.currentCase.IsComplete == "Подтверждено")
            {
                <img src="~/images/confirmed.png" alt="confirmed">
            }
        </li>
    </ul>
</div>
<br />
<div class="comment" id="comments">
    @foreach (var itr in @ViewBag.Comments)
    {
        <div class="chatMessage">
            <div class="userName">@itr.IdUserNavigation.Name</div>
            <div class="textMessage">@itr.Text</div>
        </div>
    }
</div>
<div class="container">
    <div class="row">
        <textarea type="text" id="messageInput" class="textMessage" placeholder="Введите сообщение"></textarea>
    </div>
    <input type=hidden id="HiddenFieldIdCase" value="@ViewBag.currentCase.Id" />
    <div class="row">
        <div class="col-6">
            <button id="WriteComment" value="Send Message">Добавить</button>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>
