﻿@using Controllers.ViewModel
@model PersonalAreaViewModel
@{
    ViewData["Title"] = "Личный кабиент";
    Layout = "LayoutPersonalTeam";
}
<h2>Личный кабинет</h2>
<div id="personalArea">
    <div id="left">
        <form asp-action="PersonalArea" asp-controller="PersonalArea" asp-anti-forgery="true">
            <div class="LabDivLeft">
                <div class="element"><label>Email</label></div>
                <div><span asp-validation-for="Email"></span></div>
                <div class="element"><input type="text" asp-for="Email" value="@ViewBag.email" /></div>
            </div>
            <div class="LabDivLeft">
                <div class="element"><label>Имя</label></div>
                <div><span asp-validation-for="Name"></span></div>
                <div class="element"><input type="text" asp-for="Name" value="@ViewBag.name" /></div>
            </div>
            <div class="LabDivLeft">
                <div class="element"><label>Логин</label></div>
                <div><span asp-validation-for="Login"></span></div>
                <div class="element"><input type="text" asp-for="Login" value="@ViewBag.login" /></div>
            </div>
            <div class="LabDivLeft">
                <div class="element"><label>Пароль</label></div>
                <div><span asp-validation-for="Password"></span></div>
                <div class="element"><input type="password" asp-for="Password" value="@ViewBag.password" /></div>
            </div>
            <div class="LabDivLeft">
                <input type="submit" value="Обновить" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
    <div id="right">
        <div class="LabDivRight">
            <div class="element"><label>Компания</label></div>
            <div class="element elementText">@ViewBag.company_</div>
        </div>
        <div class="LabDivRight">
            <div class="element"><label>Ваша команда</label></div>
            <div class="element elementText">@ViewBag.team_</div>
            <div class="element">
                <a asp-area="" asp-controller="Team" asp-action="Team">Управление командами</a>
            </div>
        </div>
    </div>
</div>

