﻿main{
    display: flex;
}

.mainWindow {
    display: flex;
}

.main-form {
    margin-top: 30px;
    margin: 0 0 0 0;
    width: 280px;
    padding:0px 2px 0px 2px;
    background: #7B68EE;
    color: #FFF;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.input-group {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    width: 276px;
    margin-left: 0px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-group {
    margin-bottom: 5px;
    margin-left: 0px;
    width: 276px;
}

#board {
    overflow-y: auto;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.case {
    width: 280px;
    margin: 7px 7px 7px 7px;
}

span{
    color:yellow;
}
.cardDate {
    width: 280px;
    height: 40px;
    text-align: center;
    border: solid 1px black;
}
.cardTitle {
    display: flex;
    overflow-y: auto;
    width: 280px;
    height: 50px;
    text-align: center;
    word-break: break-all;
    border: solid 1px black;
}
.cardStatus {
    width: 40px;
    height: 50px;
    background-color: navajowhite;
}
.title {
    font-family: 'Times New Roman';
    width: 240px;
}

.containerImgCard {
    width: 280px;
    height: 150px;
    border: solid 1px black;
}
.imgCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 149px;
}

.cardDesctiption {
    overflow-y: auto;
    width: 280px;
    height: 100px;
    word-break: break-all;
    border: solid 1px black;
}
.customInputCard {
    overflow-y: auto;
    width: 280px;
    height: 40px;
    word-break: break-all;
}

.caseResponsible {
    border: solid 1px black;
    width: 280px;
}

.caseButton {
    border: solid 1px black;
    width: 280px;
}

.button {
    width: 125px;
    height: 25px;
    border: solid 1px black;
    background-color: #337AB7;
    color: white;
}
