﻿body {
    background-color: #5daad3;
}

.container {
    background-color: white;
}

.chatMessage {
    margin: 50px 10px 40px 20px;
    border: solid 1px black;
}

.userName {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.textMessage {
    display: block;
    font-size: 18px;
}

#comments {
    overflow-y: auto;
    width: 1100px;
    height: 500px;
    padding: 5px;
}

#messageInput {
    overflow-y: auto;
    width: 1200px;
    height: 100px;
    padding: 5px;
}
