﻿img {
    width: 280px;
    height: 480px;
}
.flip-container {
    margin-top: 7px;
    margin-left: 7px;
    perspective: 800px; /* */
}

.flipper {
    position: relative; /* Относительное позиционирование */
    width: 280px;
    height: 480px;
    transition: transform 1s;
    transform-style: preserve-3d; /* Вращение в 3D */
}

.flipper:hover {
    transform: rotateY(180deg); /* При наведении вращаем */
}

.card-face {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    bottom: 0;
    width: 280px;
    height: 480px;
    backface-visibility: hidden; /* Скрываем обратную поверхность */
}

.card-face.back {
    font: 18px/1.6 Arial; /* Параметры шрифта */
    transform: rotateY(180deg); /* Поворачиваем текст */
    background: #4B846A; /* Цвет фона */
    color: #fff; /* Цвет текста */
}
  