﻿html,
body {
    height: 100%;
}

.container {
    background-color: white;
}

.chatMessage {
    margin: 50px 10px 40px 20px;
    border: solid 1px black;
    word-break: break-all;
}

.userName {
    font-weight: bold;
    font-size: 12px;
}

#comments {
    overflow-y: auto;
    width: 400px;
    height: 500px;
    padding: 5px;
}

#chatHidden {
    width: 20px;
    height: 20px;
    margin: 0 0 0 100%;
}

.container {
    display: flex;
}

#messageInput {
    overflow-y: auto;
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 18px;
}

#sendButton {
    width: 40px;
    height: 40px;
    margin: 0 0 10% 10%;
}

.sendButton {
    width: 90px;
    height: 60px;
}

#chatOpening {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    background-color: #008B8B;
    border: 2px solid #6495ED;
    border-radius: 100px;
}

#chat {
    position: absolute;
    right: 20px;
    background-color: whitesmoke;
    border-top-left-radius: 40px;
    border: 1px solid black;
    width: 400px;
    height: 600px;
}

.button {
    height: 20px;
    width: 150px;
    background-color: black;
    color:wheat;
}
/* Раскрывающийся список */
.faq_item {
    box-sizing: border-box;
    padding: 10px 0 10px 15px;
}

.faq_item_title {
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.faq_item_title {
    font-weight: 900;
    margin-top: 20px;
}

.faq_item_title_inner {
    display: inline-block;
    position: relative;
    padding: 0 60px 0 0;
    cursor: pointer;
}

.faq_item_title_inner:hover:before {
    transform: translateY(1px);
}

.faq_item_title_inner:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 280px;
    height: 100%;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.faq_item_title_inner.open:before {
    transform: rotate(180deg);
}

.faq_item_body {
    font-size: 16px;
    box-sizing: border-box;
    display: none;
}