﻿#personalArea {
    display: flex;
}

.LabDivRight {
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 40px;
}

.LabDivLeft {
    flex-direction: row;
    margin-bottom: 10px;
    
}

.element {
    height: 35px;
}

.elementText {
    font-weight: bold;
}

span {
    color: red;
}