﻿@using Controllers.ViewModel.Board
@model BoardViewModel
@{
    Layout = "LayoutBoard";
    ViewData["Title"] = "Доска заданий";
    
}

<div id="board">
    @foreach (var itr in @ViewBag.Cases)
    {
        <div class="case" id="case @itr.Id">
            <div class="cardTitle">
                <h5 class="Title">@itr.Title</h5>
            </div>
            <div class="cardDate">@itr.Start</div>
            <div class="cardDate">@itr.End</div>
            <div class="cardDesctiption"> <h6>@itr.Description</h6> </div>
            <div class="containerImgCard" id="caseImg @itr.Id">
                @if (@itr.IsComplete == "В_процессе")
                {
                    <img class="imgCard" src="~/images/process.png" alt="process">
                }
                @if (@itr.IsComplete == "Сделано")
                {
                    <img class="imgCard" src="~/images/complete.jpg" alt="complete">
                }
                @if (@itr.IsComplete == "Провалено")
                {
                    <img class="imgCard" src="~/images/no_complete.png" alt="no_complete">
                }
            </div>
            <div class="caseResponsible">
                Ответственный - @itr.IdUserNavigation.Name <br />
                Почта - @itr.IdUserNavigation.Email
            </div>
            <div class="caseButton">
                @if (@itr.IsComplete == "Подтверждено")
                {
                    <div><a asp-action="CommentCase" asp-controller="Comment" asp-route-id="@itr.Id">Комментировать</a></div>
                }
                else
                {
                    <div><a asp-action="CommentCase" asp-controller="Comment" asp-route-id="@itr.Id">Комментировать</a></div>
                    <div id="buttonStatusCase">
                        <div class="complete button" id="@itr.Id">Выполнено</div>
                        <div class="cancel button" id="@itr.Id">Отменить</div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="card-face front">
            <img src="~/images/plus.png" alt="add">
        </div>
        <div class="card-face back">
            <div class="main-form">
                <form asp-action="Case" asp-controller="Home" asp-anti-forgery="true">
                    <div class="form-group">
                        <label asp-for="Title" class="cols-sm-2 control-label">Название дела</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Введите название задания" />
                            </div>
                            <div><span asp-validation-for="Title"></span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Дата начала</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input asp-for="Start" type="date" class="customInputCard" id="Start" />
                            </div>
                            <div><span asp-validation-for="Start"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Дата окончания</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input asp-for="End" type="date" class="customInputCard" id="End" />
                            </div>
                            <div><span asp-validation-for="End"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Описание</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <textarea asp-for="Description" class="customInputCard" name="Description" id="Description" placeholder="Описание вашего задания"></textarea>
                            </div>
                            <div><span asp-validation-for="Description"></span></div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block login-button">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/case.js"></script>