﻿@using Controllers.ViewModel.Team_
@using Controllers.ViewModel.Board
@model TeamViewModel

@{
    Layout = "LayoutTeam";
    ViewData["Title"] = "Управление командой";
}
<div>
    @if (@ViewBag.YouTeam == null)// если вы не в команде вы можете её создать
    {
        <div>
            <h2>Создать команду</h2>
            <form asp-action="Team" asp-controller="Team" asp-anti-forgery="true">
                <div>
                    <label>Название команды</label><br />
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <input type="submit" value="Создать" />
            </form>
        </div>
    }
    @if (@ViewBag.YouCompany == null)
    {
<div class="team" id="team">
    @if (@ViewBag.YouTeam != null)
    {
        @if (@ViewBag.IsLeader)
        {
            <div><a class="nav-link text-dark" asp-area="" asp-controller="ManagerTeam" asp-action="ManagerTeam"><div class="aText">Управление командой</div></a></div>
        }
        <div>
            <h2>Ваша команда - @ViewBag.YouTeam.Name</h2>
            <h3>Члены вашей команды:</h3>
            <span class="custom-dropdown">
                <select id="SelectMemeber" asp-for="Id" asp-items="@(new SelectList(@ViewBag.UsersWithoutCompanyInTeam,"Id","Name"))"></select>
            </span>
            @if (@ViewBag.IsLeader)
            {
                <input type="submit" id="DeleteMemeberTeam" value="Удалить">
            }
        </div>
        <div id="chat" class="right" hidden>
            <div id="comments">
                @foreach (var itr in @ViewBag.ListChatMessage)
                {
                    <div class="chatMessage">
                        <div class="userName">@itr.IdUserNavigation.Name</div>
                        <div class="textMessage">@itr.Text</div>
                    </div>
                }
            </div>
            <div class="container">
                <div class="textMessage">
                    <textarea type="text" id="messageInput" placeholder="Введите сообщение"></textarea>
                </div>
                <div class="sendButton">
                    <img src="~/images/sendMessage.jpg" id="sendButton" alt="id=" sendMessage" />
                </div>
            </div>
        </div>
        <div><img src="~/images/chat.jpg" alt="Chat opening" id="chatOpening" /></div>
    }
    @if (@ViewBag.YouTeam == null)
    {
        <div id="theCompany">
            <h2>Команды не входящие в какую либо компанию</h2>
            <ol class="elements">
                @foreach (var itr in @ViewBag.TeamWithoutCompany)
                {
                    <li>
                        <div class="element">@itr.Name</div>
                        <div class="JoinTeam" id="@itr.Id">Присоединиться</div>
                    </li>
                }
            </ol>
        </div>
    }
</div>
    }
    @if (@ViewBag.YouCompany != null)
    {
<div class="team" id="team">
    @if (@ViewBag.YouTeam != null)
    {
        @if (@ViewBag.IsLeader)
        {
            <div><a class="nav-link text-dark" asp-area="" asp-controller="ManagerTeam" asp-action="ManagerTeam">Управление командой</a></div>
        }
        <div>
            <h2>Ваша команда - @ViewBag.YouTeam.Name</h2>
            <h3>Члены вашей команды:</h3>
            <span class="custom-dropdown">
                <select asp-for="Id" id="SelectMemeber" asp-items="@(new SelectList(@ViewBag.UserInCompanyInTeam, "Id", "Name"))"></select>
            </span>
            @if (@ViewBag.IsLeader)
            {
                <input type="submit" id="DeleteMemeberTeam" value="Удалить">
            }
        </div>
        <div id="chat" class="right" hidden>
            <div id="comments">
                @foreach (var itr in @ViewBag.ListChatMessage)
                {
                    <div class="chatMessage">
                        <div class="userName">@itr.IdUserNavigation.Name</div>
                        <div class="textMessage">@itr.Text</div>
                    </div>
                }
            </div>
            <div class="container">
                <div class="textMessage">
                    <textarea type="text" id="messageInput" placeholder="Введите сообщение"></textarea>
                </div>
                <div class="sendButton">
                    <img src="~/images/sendMessage.jpg" id="sendButton" alt="id=" sendMessage" />
                </div>
            </div>
        </div>
        <div><img src="~/images/chat.jpg" alt="Chat opening" id="chatOpening" /></div>
        
    }
    @if (@ViewBag.YouTeam == null)
    {
        <div id="theCompany">
            <h2>Команды вашей компании</h2>
            <ol class="elements">
                @foreach (var itr in @ViewBag.CompanyTeams)
                {
                    <li>
                        <div class="element">@itr.Name</div>
                        <div class="JoinTeam" id="@itr.Id">Присоединиться</div>
                    </li>
                }
            </ol>
        </div>
   
    }
</div>
    }
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/team.js"></script>
<script src="~/js/chat.js"></script>